/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #457b9d;
	background-image: url('fig/front.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  background-color: white;
  opacity: 0.7;
  font-family: 'Calligraffitti';
  font-weight: bold;
  /* font-family: 'Euphoria Script'; */
  font-size: 140px;
  /* border: 1px solid #f1faee; */
  color:#1d3557;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


p {
  color: orange;
  font-size: 16px;
  /* background-image: url('pictures/front.jpg'); */
}


.center {
  margin: auto;
  width: 30%;
  border: 30px solid #1d3557;
  padding: 450px; 
  text-align: center;
}


.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  background-image: url("pic/water2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);
}

#navbar {
  overflow: hidden; 
  background-color: #3A3A3A;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  background-color: #3A3A3A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #466C71;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
   
background-color: #3A3A3A;
    font-family: inherit;
    margin: 0;
}

.dropbtnactive {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #466C71;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3A3A3A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


